aiogram>=3.11
aiohttp-socks
bs4==0.0.2
colorama==0.4.6
colorlog==6.9.0
setuptools==75.8.0
certifi==2025.1.31
lxml==5.3.0
urllib3==1.26.15
requests==2.32.4
requests[socks]
requests-toolbelt==0.10.1
pytz==2025.2
rarfile==4.2
python-certifi-win32
